* {
    user-select: none;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 3px #124ae5;
    color: #8e5099;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: #4ea757;
}
#canv {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
}
.options {
    z-index: 5;
    max-width: 320px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.options input {
    outline: none;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    width: 50px;
}
#setParameters {
    transition: 0.3s;
    width: auto;
    cursor: pointer;
}
#setParameters:hover {
    letter-spacing: 3px;
}