* {
    user-select: none;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 3px 3px 3px #;
    color: #000;
}
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body {
    background-color: #fff;
}
#canv {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
}
.options {
    z-index: 5;
    max-width: 320px;
    position: absolute;
    left: 30px;
    top: 30px;
}
.options * {
    transition: 0.3s;
    color: #eaeaea;
}
.options *:hover {
    color: #000;
    cursor: pointer;
}
.options input {
    outline: none;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    width: 50px;
}
#setParameters {
    width: auto;
}
.cell {
    position: absolute;
    width: 1px;
    height: 100vh;
    background-color: #b1b1b1;
    left: 0;
    top: 0;
}